<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="{{ url_for('static', filename='jquery.js') }}"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

   
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>



<body>
    <h1>Filtrar por pelicula: </h1>
    
    <form method="POST" action="#" name="formFiltrarXmovie">
        <p>Ingrese el nombre de la pelicula: </p>
        <p><input type="text" name="movie"></p>
        <p><input type="submit" value="submit"></p>
          </form>

     <div id='tabla'>
        {% include 'todos.html' without context %}
     </div>
    
     
</body>



</html>