<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello World</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
<style>
    #integrantes{
        width: 80%;
        margin-left: auto;
  margin-right: auto;
    }
</style>
</head>

<body>
    <table id="integrantes" class="table table-success table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Apellidos</th>
                <th scope="col">Nombres</th>
                <th scope="col">Carnet</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Cerna Rodriguez</td>
                <td>Laura Isabel</td>
                <td>CR08063</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Garcia Rodriguez</td>
                <td>Oscar Arnoldo</td>
                <td>GR13023</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Molina Maldonado
                <td>Luis Antonio</td>
                <td>MM08132</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>Peraza Castro
                <td>Idania Marcela</td>
                <td>PC05009</td>
            </tr>
        </tbody>
    </table>

<form action="/load">
    <div class="d-grid gap-2">
        <button class="btn btn-success" type="submit" id="cargar">Cargar Datos</button>
        
      </div>

</form>
    
</body>

</html>