<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>index</th>
      <th>Title</th>
      <th>Theatre Name</th>
      <th>Circuit</th>
      <th>Weekend
Adm</th>
      <th>Week
Adm</th>
      <th>Weekend
Gross $</th>
      <th>Week
Gross $</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>5</td>
      <td>Vencedor</td>
      <td>CityMall Alajuela 8</td>
      <td>Cinemark</td>
      <td>226</td>
      <td>290</td>
      <td>902.817337</td>
      <td>1139.086371</td>
    </tr>
    <tr>
      <th>1</th>
      <td>61</td>
      <td>Vencedor</td>
      <td>Multiplaza del Este 8</td>
      <td>Cinemark</td>
      <td>42</td>
      <td>70</td>
      <td>166.529052</td>
      <td>260.293464</td>
    </tr>
    <tr>
      <th>2</th>
      <td>72</td>
      <td>Vencedor</td>
      <td>Multiplaza Escazu 8</td>
      <td>Cinemark</td>
      <td>6</td>
      <td>6</td>
      <td>30.592260</td>
      <td>30.592260</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4706</td>
      <td>Vencedor</td>
      <td>Albrook Mall 10</td>
      <td>Cinemark</td>
      <td>112</td>
      <td>205</td>
      <td>446.320000</td>
      <td>793.290000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>4720</td>
      <td>Vencedor</td>
      <td>Altaplaza Mall 9</td>
      <td>Cinepolis</td>
      <td>175</td>
      <td>228</td>
      <td>662.750000</td>
      <td>881.640000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>4744</td>
      <td>Vencedor</td>
      <td>Chorrera On D Go 5 (C)</td>
      <td>Cinemark</td>
      <td>237</td>
      <td>265</td>
      <td>735.950000</td>
      <td>824.490000</td>
    </tr>
    <tr>
      <th>6</th>
      <td>4763</td>
      <td>Vencedor</td>
      <td>David 6</td>
      <td>Cines Moderno</td>
      <td>28</td>
      <td>51</td>
      <td>120.000000</td>
      <td>214.250000</td>
    </tr>
    <tr>
      <th>7</th>
      <td>4773</td>
      <td>Vencedor</td>
      <td>El Dorado 9</td>
      <td>Cinepolis</td>
      <td>166</td>
      <td>265</td>
      <td>569.850000</td>
      <td>892.670000</td>
    </tr>
    <tr>
      <th>8</th>
      <td>4793</td>
      <td>Vencedor</td>
      <td>Los Pueblos 7 (C)</td>
      <td>Cinemark</td>
      <td>46</td>
      <td>68</td>
      <td>144.140000</td>
      <td>203.380000</td>
    </tr>
    <tr>
      <th>9</th>
      <td>4816</td>
      <td>Vencedor</td>
      <td>Metromall 10</td>
      <td>Cinepolis</td>
      <td>150</td>
      <td>168</td>
      <td>482.390000</td>
      <td>546.140000</td>
    </tr>
    <tr>
      <th>10</th>
      <td>4822</td>
      <td>Vencedor</td>
      <td>Multicentro 7 (C)</td>
      <td>Cinemark</td>
      <td>384</td>
      <td>485</td>
      <td>1331.270000</td>
      <td>1691.510000</td>
    </tr>
    <tr>
      <th>11</th>
      <td>5411</td>
      <td>Vencedor</td>
      <td>Multiplaza del Este 8</td>
      <td>Cinemark</td>
      <td>120</td>
      <td>120</td>
      <td>413.094536</td>
      <td>413.094536</td>
    </tr>
    <tr>
      <th>12</th>
      <td>6074</td>
      <td>Vencedor</td>
      <td>Altara 6</td>
      <td>Cinepolis</td>
      <td>180</td>
      <td>180</td>
      <td>438.836963</td>
      <td>438.836963</td>
    </tr>
    <tr>
      <th>13</th>
      <td>6088</td>
      <td>Vencedor</td>
      <td>City Mall San Pedro 6</td>
      <td>Cinemark</td>
      <td>551</td>
      <td>889</td>
      <td>1525.242878</td>
      <td>2195.932037</td>
    </tr>
    <tr>
      <th>14</th>
      <td>6096</td>
      <td>Vencedor</td>
      <td>City Mall Tegucigalpa 5</td>
      <td>Cinemark</td>
      <td>84</td>
      <td>467</td>
      <td>309.745756</td>
      <td>1163.974412</td>
    </tr>
    <tr>
      <th>15</th>
      <td>6104</td>
      <td>Vencedor</td>
      <td>Las Cascadas Tegucigalpa 7</td>
      <td>Cinepolis</td>
      <td>850</td>
      <td>850</td>
      <td>2002.843773</td>
      <td>2002.843773</td>
    </tr>
    <tr>
      <th>16</th>
      <td>6119</td>
      <td>Vencedor</td>
      <td>Mall Galeria 6</td>
      <td>Cinemark</td>
      <td>131</td>
      <td>310</td>
      <td>439.852789</td>
      <td>828.223502</td>
    </tr>
    <tr>
      <th>17</th>
      <td>6148</td>
      <td>Vencedor</td>
      <td>Megaplaza Mall La Ceiba 4</td>
      <td>Cinemark</td>
      <td>21</td>
      <td>54</td>
      <td>61.965405</td>
      <td>131.041593</td>
    </tr>
    <tr>
      <th>18</th>
      <td>6159</td>
      <td>Vencedor</td>
      <td>Multiplaza Tegucigalpa 6</td>
      <td>Cinemark</td>
      <td>183</td>
      <td>452</td>
      <td>603.522723</td>
      <td>1267.751227</td>
    </tr>
    <tr>
      <th>19</th>
      <td>9188</td>
      <td>Vencedor</td>
      <td>Arkadia 9</td>
      <td>Cinemark</td>
      <td>123</td>
      <td>139</td>
      <td>614.298529</td>
      <td>667.873332</td>
    </tr>
    <tr>
      <th>20</th>
      <td>9248</td>
      <td>Vencedor</td>
      <td>Metrocentro Villa Nueva 4</td>
      <td>Cinemark</td>
      <td>100</td>
      <td>100</td>
      <td>232.933927</td>
      <td>232.933927</td>
    </tr>
    <tr>
      <th>21</th>
      <td>10559</td>
      <td>Vencedor</td>
      <td>Galerias 8</td>
      <td>Cinepolis</td>
      <td>234</td>
      <td>705</td>
      <td>1016.860000</td>
      <td>2394.260000</td>
    </tr>
    <tr>
      <th>22</th>
      <td>10572</td>
      <td>Vencedor</td>
      <td>GranVia 8</td>
      <td>Cinemark</td>
      <td>548</td>
      <td>726</td>
      <td>2289.450000</td>
      <td>2871.900000</td>
    </tr>
    <tr>
      <th>23</th>
      <td>10579</td>
      <td>Vencedor</td>
      <td>Metrocentro San Miguel 3</td>
      <td>Cinemark</td>
      <td>345</td>
      <td>622</td>
      <td>1580.950000</td>
      <td>2566.050000</td>
    </tr>
    <tr>
      <th>24</th>
      <td>10588</td>
      <td>Vencedor</td>
      <td>Metrocentro San Salvador 8</td>
      <td>Cinemark</td>
      <td>402</td>
      <td>474</td>
      <td>1459.850000</td>
      <td>1706.900000</td>
    </tr>
    <tr>
      <th>25</th>
      <td>10602</td>
      <td>Vencedor</td>
      <td>Multiplaza 8</td>
      <td>Cinepolis</td>
      <td>139</td>
      <td>232</td>
      <td>596.200000</td>
      <td>874.600000</td>
    </tr>
    <tr>
      <th>26</th>
      <td>10625</td>
      <td>Vencedor</td>
      <td>Santa Ana 5</td>
      <td>Cinepolis</td>
      <td>128</td>
      <td>312</td>
      <td>542.600000</td>
      <td>1061.300000</td>
    </tr>
    <tr>
      <th>27</th>
      <td>13190</td>
      <td>Vencedor</td>
      <td>Altara 6</td>
      <td>Cinepolis</td>
      <td>262</td>
      <td>384</td>
      <td>676.941085</td>
      <td>950.378253</td>
    </tr>
    <tr>
      <th>28</th>
      <td>13211</td>
      <td>Vencedor</td>
      <td>City Mall San Pedro 6</td>
      <td>Cinemark</td>
      <td>478</td>
      <td>951</td>
      <td>1190.535908</td>
      <td>2373.830064</td>
    </tr>
    <tr>
      <th>29</th>
      <td>13222</td>
      <td>Vencedor</td>
      <td>City Mall Tegucigalpa 5</td>
      <td>Cinemark</td>
      <td>175</td>
      <td>296</td>
      <td>456.515170</td>
      <td>723.931106</td>
    </tr>
    <tr>
      <th>30</th>
      <td>13233</td>
      <td>Vencedor</td>
      <td>Las Cascadas Tegucigalpa 7</td>
      <td>Cinepolis</td>
      <td>293</td>
      <td>350</td>
      <td>829.017879</td>
      <td>968.279213</td>
    </tr>
    <tr>
      <th>31</th>
      <td>13245</td>
      <td>Vencedor</td>
      <td>Mall Galeria 6</td>
      <td>Cinemark</td>
      <td>163</td>
      <td>270</td>
      <td>465.872490</td>
      <td>704.931678</td>
    </tr>
    <tr>
      <th>32</th>
      <td>13254</td>
      <td>Vencedor</td>
      <td>Mall Premier Juticalpa 3</td>
      <td>Cinepolis</td>
      <td>67</td>
      <td>241</td>
      <td>127.747762</td>
      <td>410.908406</td>
    </tr>
    <tr>
      <th>33</th>
      <td>13269</td>
      <td>Vencedor</td>
      <td>Mall Premier Tegucigalpa 5</td>
      <td>Cinepolis</td>
      <td>43</td>
      <td>68</td>
      <td>101.710001</td>
      <td>143.207682</td>
    </tr>
    <tr>
      <th>34</th>
      <td>13276</td>
      <td>Vencedor</td>
      <td>Megaplaza Mall La Ceiba 4</td>
      <td>Cinemark</td>
      <td>91</td>
      <td>174</td>
      <td>220.303863</td>
      <td>372.258605</td>
    </tr>
    <tr>
      <th>35</th>
      <td>13291</td>
      <td>Vencedor</td>
      <td>Multiplaza Tegucigalpa 6</td>
      <td>Cinemark</td>
      <td>92</td>
      <td>205</td>
      <td>267.212516</td>
      <td>589.470484</td>
    </tr>
    <tr>
      <th>36</th>
      <td>15195</td>
      <td>Vencedor</td>
      <td>Los Pueblos 7 (C)</td>
      <td>Cinemark</td>
      <td>42</td>
      <td>55</td>
      <td>174.800000</td>
      <td>209.250000</td>
    </tr>
    <tr>
      <th>37</th>
      <td>16326</td>
      <td>Vencedor</td>
      <td>Altara 6</td>
      <td>Cinepolis</td>
      <td>890</td>
      <td>1013</td>
      <td>2521.114461</td>
      <td>2904.900701</td>
    </tr>
    <tr>
      <th>38</th>
      <td>16343</td>
      <td>Vencedor</td>
      <td>City Mall San Pedro 6</td>
      <td>Cinemark</td>
      <td>543</td>
      <td>944</td>
      <td>1791.328908</td>
      <td>2965.090462</td>
    </tr>
    <tr>
      <th>39</th>
      <td>16353</td>
      <td>Vencedor</td>
      <td>City Mall Tegucigalpa 5</td>
      <td>Cinemark</td>
      <td>185</td>
      <td>274</td>
      <td>670.656764</td>
      <td>932.961703</td>
    </tr>
    <tr>
      <th>40</th>
      <td>16358</td>
      <td>Vencedor</td>
      <td>Las Cascadas Tegucigalpa 7</td>
      <td>Cinepolis</td>
      <td>877</td>
      <td>1192</td>
      <td>2471.738453</td>
      <td>3308.722991</td>
    </tr>
    <tr>
      <th>41</th>
      <td>16371</td>
      <td>Vencedor</td>
      <td>Mall Galeria 6</td>
      <td>Cinemark</td>
      <td>483</td>
      <td>594</td>
      <td>1512.374869</td>
      <td>1856.333850</td>
    </tr>
    <tr>
      <th>42</th>
      <td>16382</td>
      <td>Vencedor</td>
      <td>Mall Premier Juticalpa 3</td>
      <td>Cinepolis</td>
      <td>375</td>
      <td>393</td>
      <td>802.258106</td>
      <td>837.759863</td>
    </tr>
    <tr>
      <th>43</th>
      <td>16389</td>
      <td>Vencedor</td>
      <td>Mall Premier Tegucigalpa 5</td>
      <td>Cinepolis</td>
      <td>519</td>
      <td>572</td>
      <td>918.556967</td>
      <td>1014.003646</td>
    </tr>
    <tr>
      <th>44</th>
      <td>16396</td>
      <td>Vencedor</td>
      <td>Megaplaza Mall La Ceiba 4</td>
      <td>Cinemark</td>
      <td>545</td>
      <td>703</td>
      <td>1491.645107</td>
      <td>1910.729072</td>
    </tr>
    <tr>
      <th>45</th>
      <td>16410</td>
      <td>Vencedor</td>
      <td>Multiplaza Tegucigalpa 6</td>
      <td>Cinemark</td>
      <td>452</td>
      <td>628</td>
      <td>1384.527735</td>
      <td>1930.969154</td>
    </tr>
    <tr>
      <th>46</th>
      <td>17785</td>
      <td>Vencedor</td>
      <td>Bello Horizonte 6</td>
      <td>Diusa</td>
      <td>39</td>
      <td>65</td>
      <td>151.249837</td>
      <td>224.808257</td>
    </tr>
    <tr>
      <th>47</th>
      <td>17801</td>
      <td>Vencedor</td>
      <td>Diusa Galeria 9</td>
      <td>Diusa</td>
      <td>103</td>
      <td>345</td>
      <td>330.595111</td>
      <td>914.228201</td>
    </tr>
    <tr>
      <th>48</th>
      <td>17812</td>
      <td>Vencedor</td>
      <td>Diusa Inter 8</td>
      <td>Diusa</td>
      <td>54</td>
      <td>88</td>
      <td>199.499386</td>
      <td>291.783123</td>
    </tr>
    <tr>
      <th>49</th>
      <td>17825</td>
      <td>Vencedor</td>
      <td>Metrocentro 6</td>
      <td>Cinemark</td>
      <td>29</td>
      <td>44</td>
      <td>92.059929</td>
      <td>142.342256</td>
    </tr>
    <tr>
      <th>50</th>
      <td>20858</td>
      <td>Vencedor</td>
      <td>Las Cascadas Tegucigalpa 7</td>
      <td>Cinepolis</td>
      <td>120</td>
      <td>120</td>
      <td>292.577052</td>
      <td>292.577052</td>
    </tr>
    <tr>
      <th>51</th>
      <td>20892</td>
      <td>Vencedor</td>
      <td>Megaplaza Mall La Ceiba 4</td>
      <td>Cinemark</td>
      <td>0</td>
      <td>140</td>
      <td>0.000000</td>
      <td>256.004921</td>
    </tr>
    <tr>
      <th>52</th>
      <td>20905</td>
      <td>Vencedor</td>
      <td>Multiplaza Tegucigalpa 6</td>
      <td>Cinemark</td>
      <td>222</td>
      <td>222</td>
      <td>586.373176</td>
      <td>586.373176</td>
    </tr>
    <tr>
      <th>53</th>
      <td>23030</td>
      <td>Vencedor</td>
      <td>Mall Premier Tegucigalpa 5</td>
      <td>Cinepolis</td>
      <td>100</td>
      <td>100</td>
      <td>243.824920</td>
      <td>243.824920</td>
    </tr>
    <tr>
      <th>54</th>
      <td>23044</td>
      <td>Vencedor</td>
      <td>Multiplaza Tegucigalpa 6</td>
      <td>Cinemark</td>
      <td>67</td>
      <td>67</td>
      <td>176.976255</td>
      <td>176.976255</td>
    </tr>
    <tr>
      <th>55</th>
      <td>23679</td>
      <td>Vencedor</td>
      <td>Chorrera On D Go 5 (C)</td>
      <td>Cinemark</td>
      <td>303</td>
      <td>303</td>
      <td>1136.250000</td>
      <td>1136.250000</td>
    </tr>
    <tr>
      <th>56</th>
      <td>26056</td>
      <td>Vencedor</td>
      <td>City Mall Tegucigalpa 5</td>
      <td>Cinemark</td>
      <td>0</td>
      <td>99</td>
      <td>0.000000</td>
      <td>262.393450</td>
    </tr>
    <tr>
      <th>57</th>
      <td>27742</td>
      <td>Vencedor</td>
      <td>Altaplaza Mall 9</td>
      <td>Cinepolis</td>
      <td>0</td>
      <td>104</td>
      <td>0.000000</td>
      <td>390.000000</td>
    </tr>
    <tr>
      <th>58</th>
      <td>27773</td>
      <td>Vencedor</td>
      <td>Chorrera On D Go 5 (C)</td>
      <td>Cinemark</td>
      <td>35</td>
      <td>56</td>
      <td>133.530000</td>
      <td>190.000000</td>
    </tr>
    <tr>
      <th>59</th>
      <td>27812</td>
      <td>Vencedor</td>
      <td>Los Pueblos 7 (C)</td>
      <td>Cinemark</td>
      <td>62</td>
      <td>72</td>
      <td>243.800000</td>
      <td>270.400000</td>
    </tr>
    <tr>
      <th>60</th>
      <td>27843</td>
      <td>Vencedor</td>
      <td>Multicentro 7 (C)</td>
      <td>Cinemark</td>
      <td>70</td>
      <td>97</td>
      <td>327.140000</td>
      <td>448.660000</td>
    </tr>
    <tr>
      <th>61</th>
      <td>27863</td>
      <td>Vencedor</td>
      <td>Multiplaza Pacific 10</td>
      <td>Cinepolis</td>
      <td>563</td>
      <td>563</td>
      <td>2111.250000</td>
      <td>2111.250000</td>
    </tr>
    <tr>
      <th>62</th>
      <td>30637</td>
      <td>Vencedor</td>
      <td>GranVia 8</td>
      <td>Cinemark</td>
      <td>72</td>
      <td>113</td>
      <td>277.250000</td>
      <td>401.850000</td>
    </tr>
    <tr>
      <th>63</th>
      <td>30725</td>
      <td>Vencedor</td>
      <td>City Mall San Pedro 6</td>
      <td>Cinemark</td>
      <td>0</td>
      <td>175</td>
      <td>0.000000</td>
      <td>319.089415</td>
    </tr>
    <tr>
      <th>64</th>
      <td>32156</td>
      <td>Vencedor</td>
      <td>Diusa Galeria 9</td>
      <td>Diusa</td>
      <td>0</td>
      <td>151</td>
      <td>0.000000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>65</th>
      <td>33689</td>
      <td>Vencedor</td>
      <td>Arkadia 9</td>
      <td>Cinemark</td>
      <td>0</td>
      <td>100</td>
      <td>0.000000</td>
      <td>323.065777</td>
    </tr>
    <tr>
      <th>66</th>
      <td>33958</td>
      <td>Vencedor</td>
      <td>City Mall San Pedro 6</td>
      <td>Cinemark</td>
      <td>0</td>
      <td>154</td>
      <td>0.000000</td>
      <td>406.711062</td>
    </tr>
    <tr>
      <th>67</th>
      <td>34402</td>
      <td>Vencedor</td>
      <td>CityMall Alajuela 8</td>
      <td>Cinemark</td>
      <td>338</td>
      <td>409</td>
      <td>1197.287403</td>
      <td>1443.336253</td>
    </tr>
    <tr>
      <th>68</th>
      <td>34425</td>
      <td>Vencedor</td>
      <td>Desamparados 6</td>
      <td>Cinepolis</td>
      <td>132</td>
      <td>224</td>
      <td>444.088251</td>
      <td>756.640540</td>
    </tr>
    <tr>
      <th>69</th>
      <td>34455</td>
      <td>Vencedor</td>
      <td>Lincoln Plaza 6</td>
      <td>Cinepolis</td>
      <td>167</td>
      <td>237</td>
      <td>649.884654</td>
      <td>924.467190</td>
    </tr>
    <tr>
      <th>70</th>
      <td>34479</td>
      <td>Vencedor</td>
      <td>Multiplaza del Este 8</td>
      <td>Cinemark</td>
      <td>252</td>
      <td>277</td>
      <td>895.645564</td>
      <td>1000.847275</td>
    </tr>
    <tr>
      <th>71</th>
      <td>34492</td>
      <td>Vencedor</td>
      <td>Multiplaza Escazu 8</td>
      <td>Cinemark</td>
      <td>175</td>
      <td>259</td>
      <td>654.193327</td>
      <td>935.714147</td>
    </tr>
    <tr>
      <th>72</th>
      <td>34508</td>
      <td>Vencedor</td>
      <td>Oxigeno 8</td>
      <td>Cinemark</td>
      <td>611</td>
      <td>652</td>
      <td>2328.834578</td>
      <td>2498.735775</td>
    </tr>
    <tr>
      <th>73</th>
      <td>34530</td>
      <td>Vencedor</td>
      <td>Paseo de las Flores 7</td>
      <td>Cinepolis</td>
      <td>230</td>
      <td>298</td>
      <td>804.538974</td>
      <td>1033.609811</td>
    </tr>
    <tr>
      <th>74</th>
      <td>34548</td>
      <td>Vencedor</td>
      <td>Paseo Metropoli 8</td>
      <td>Cinepolis</td>
      <td>101</td>
      <td>140</td>
      <td>347.646122</td>
      <td>488.840175</td>
    </tr>
    <tr>
      <th>75</th>
      <td>34618</td>
      <td>Vencedor</td>
      <td>Terramall 12</td>
      <td>Cinepolis</td>
      <td>152</td>
      <td>204</td>
      <td>551.329818</td>
      <td>725.668046</td>
    </tr>
    <tr>
      <th>76</th>
      <td>34647</td>
      <td>Vencedor</td>
      <td>VIP Terrazas Lindora 9</td>
      <td>Cinepolis</td>
      <td>92</td>
      <td>121</td>
      <td>1020.968295</td>
      <td>1284.276122</td>
    </tr>
    <tr>
      <th>77</th>
      <td>34847</td>
      <td>Vencedor</td>
      <td>Albrook Mall 10</td>
      <td>Cinemark</td>
      <td>300</td>
      <td>300</td>
      <td>975.000000</td>
      <td>975.000000</td>
    </tr>
    <tr>
      <th>78</th>
      <td>36539</td>
      <td>Vencedor</td>
      <td>Lincoln Plaza 6</td>
      <td>Cinepolis</td>
      <td>44</td>
      <td>44</td>
      <td>116.467508</td>
      <td>116.467508</td>
    </tr>
    <tr>
      <th>79</th>
      <td>37467</td>
      <td>Vencedor</td>
      <td>City Mall San Pedro 6</td>
      <td>Cinemark</td>
      <td>140</td>
      <td>184</td>
      <td>473.704860</td>
      <td>567.755182</td>
    </tr>
    <tr>
      <th>80</th>
      <td>37528</td>
      <td>Vencedor</td>
      <td>Multiplaza Tegucigalpa 6</td>
      <td>Cinemark</td>
      <td>10</td>
      <td>10</td>
      <td>30.266734</td>
      <td>30.266734</td>
    </tr>
    <tr>
      <th>81</th>
      <td>38515</td>
      <td>Vencedor</td>
      <td>Galerias 8</td>
      <td>Cinepolis</td>
      <td>138</td>
      <td>193</td>
      <td>360.420000</td>
      <td>520.120000</td>
    </tr>
    <tr>
      <th>82</th>
      <td>38527</td>
      <td>Vencedor</td>
      <td>GranVia 8</td>
      <td>Cinemark</td>
      <td>341</td>
      <td>415</td>
      <td>1054.550000</td>
      <td>1286.900000</td>
    </tr>
    <tr>
      <th>83</th>
      <td>38539</td>
      <td>Vencedor</td>
      <td>Metrocentro San Miguel 3</td>
      <td>Cinemark</td>
      <td>125</td>
      <td>188</td>
      <td>400.800000</td>
      <td>579.850000</td>
    </tr>
    <tr>
      <th>84</th>
      <td>38553</td>
      <td>Vencedor</td>
      <td>Metrocentro San Salvador 8</td>
      <td>Cinemark</td>
      <td>58</td>
      <td>79</td>
      <td>194.200000</td>
      <td>258.000000</td>
    </tr>
    <tr>
      <th>85</th>
      <td>38564</td>
      <td>Vencedor</td>
      <td>Multiplaza 8</td>
      <td>Cinepolis</td>
      <td>37</td>
      <td>106</td>
      <td>112.030000</td>
      <td>335.960000</td>
    </tr>
    <tr>
      <th>86</th>
      <td>38594</td>
      <td>Vencedor</td>
      <td>Santa Ana 5</td>
      <td>Cinepolis</td>
      <td>38</td>
      <td>64</td>
      <td>98.920000</td>
      <td>164.810000</td>
    </tr>
    <tr>
      <th>87</th>
      <td>41033</td>
      <td>Vencedor</td>
      <td>Santa Ana 5</td>
      <td>Cinepolis</td>
      <td>0</td>
      <td>98</td>
      <td>0.000000</td>
      <td>254.800000</td>
    </tr>
    <tr>
      <th>88</th>
      <td>41042</td>
      <td>Vencedor</td>
      <td>Bello Horizonte 6</td>
      <td>Diusa</td>
      <td>583</td>
      <td>972</td>
      <td>1528.802128</td>
      <td>2550.328266</td>
    </tr>
    <tr>
      <th>89</th>
      <td>41053</td>
      <td>Vencedor</td>
      <td>Cinemas Masaya 4</td>
      <td>Diusa</td>
      <td>106</td>
      <td>282</td>
      <td>372.112166</td>
      <td>832.484113</td>
    </tr>
    <tr>
      <th>90</th>
      <td>41057</td>
      <td>Vencedor</td>
      <td>Diusa Galeria 9</td>
      <td>Diusa</td>
      <td>394</td>
      <td>1406</td>
      <td>1765.869787</td>
      <td>4544.352632</td>
    </tr>
    <tr>
      <th>91</th>
      <td>41069</td>
      <td>Vencedor</td>
      <td>Diusa Inter 8</td>
      <td>Diusa</td>
      <td>161</td>
      <td>1335</td>
      <td>554.943670</td>
      <td>3315.910581</td>
    </tr>
    <tr>
      <th>92</th>
      <td>41087</td>
      <td>Vencedor</td>
      <td>Metrocentro 6</td>
      <td>Cinemark</td>
      <td>291</td>
      <td>489</td>
      <td>1213.318450</td>
      <td>1957.268349</td>
    </tr>
    <tr>
      <th>93</th>
      <td>41457</td>
      <td>Vencedor</td>
      <td>Sankris Mall 6</td>
      <td>Cinepolis</td>
      <td>50</td>
      <td>50</td>
      <td>181.719279</td>
      <td>181.719279</td>
    </tr>
    <tr>
      <th>94</th>
      <td>42335</td>
      <td>Vencedor</td>
      <td>Galerias 8</td>
      <td>Cinepolis</td>
      <td>94</td>
      <td>94</td>
      <td>244.400000</td>
      <td>244.400000</td>
    </tr>
    <tr>
      <th>95</th>
      <td>42365</td>
      <td>Vencedor</td>
      <td>Multiplaza 8</td>
      <td>Cinepolis</td>
      <td>150</td>
      <td>150</td>
      <td>450.000000</td>
      <td>450.000000</td>
    </tr>
    <tr>
      <th>96</th>
      <td>43458</td>
      <td>Vencedor</td>
      <td>CityMall Alajuela 8</td>
      <td>Cinemark</td>
      <td>435</td>
      <td>491</td>
      <td>1884.410623</td>
      <td>2097.591396</td>
    </tr>
    <tr>
      <th>97</th>
      <td>43479</td>
      <td>Vencedor</td>
      <td>Desamparados 6</td>
      <td>Cinepolis</td>
      <td>203</td>
      <td>303</td>
      <td>921.935380</td>
      <td>1285.754660</td>
    </tr>
    <tr>
      <th>98</th>
      <td>43509</td>
      <td>Vencedor</td>
      <td>Lincoln Plaza 6</td>
      <td>Cinepolis</td>
      <td>291</td>
      <td>435</td>
      <td>1447.775513</td>
      <td>2013.167999</td>
    </tr>
    <tr>
      <th>99</th>
      <td>43533</td>
      <td>Vencedor</td>
      <td>Multiplaza del Este 8</td>
      <td>Cinemark</td>
      <td>145</td>
      <td>246</td>
      <td>675.317883</td>
      <td>1097.954613</td>
    </tr>
    <tr>
      <th>100</th>
      <td>43543</td>
      <td>Vencedor</td>
      <td>Multiplaza Escazu 8</td>
      <td>Cinemark</td>
      <td>335</td>
      <td>475</td>
      <td>1679.459095</td>
      <td>2262.869298</td>
    </tr>
    <tr>
      <th>101</th>
      <td>43558</td>
      <td>Vencedor</td>
      <td>Oxigeno 8</td>
      <td>Cinemark</td>
      <td>325</td>
      <td>480</td>
      <td>1878.260345</td>
      <td>2536.426747</td>
    </tr>
    <tr>
      <th>102</th>
      <td>43577</td>
      <td>Vencedor</td>
      <td>Paseo de las Flores 7</td>
      <td>Cinepolis</td>
      <td>164</td>
      <td>233</td>
      <td>809.480573</td>
      <td>1080.872431</td>
    </tr>
    <tr>
      <th>103</th>
      <td>43592</td>
      <td>Vencedor</td>
      <td>Paseo Metropoli 8</td>
      <td>Cinepolis</td>
      <td>95</td>
      <td>163</td>
      <td>420.862678</td>
      <td>679.150112</td>
    </tr>
    <tr>
      <th>104</th>
      <td>43659</td>
      <td>Vencedor</td>
      <td>Terramall 12</td>
      <td>Cinepolis</td>
      <td>167</td>
      <td>347</td>
      <td>791.507901</td>
      <td>1456.084452</td>
    </tr>
    <tr>
      <th>105</th>
      <td>43688</td>
      <td>Vencedor</td>
      <td>VIP Terrazas Lindora 9</td>
      <td>Cinepolis</td>
      <td>97</td>
      <td>113</td>
      <td>1081.582745</td>
      <td>1218.794588</td>
    </tr>
    <tr>
      <th>106</th>
      <td>43819</td>
      <td>Vencedor</td>
      <td>Altaplaza Mall 9</td>
      <td>Cinepolis</td>
      <td>200</td>
      <td>200</td>
      <td>650.000000</td>
      <td>650.000000</td>
    </tr>
    <tr>
      <th>107</th>
      <td>45290</td>
      <td>Vencedor</td>
      <td>CityMall Alajuela 8</td>
      <td>Cinemark</td>
      <td>90</td>
      <td>185</td>
      <td>419.244286</td>
      <td>774.810252</td>
    </tr>
    <tr>
      <th>108</th>
      <td>46740</td>
      <td>Vencedor</td>
      <td>City Mall San Pedro 6</td>
      <td>Cinemark</td>
      <td>210</td>
      <td>229</td>
      <td>770.862300</td>
      <td>827.724510</td>
    </tr>
    <tr>
      <th>109</th>
      <td>46749</td>
      <td>Vencedor</td>
      <td>City Mall Tegucigalpa 5</td>
      <td>Cinemark</td>
      <td>150</td>
      <td>150</td>
      <td>397.709145</td>
      <td>397.709145</td>
    </tr>
    <tr>
      <th>110</th>
      <td>46765</td>
      <td>Vencedor</td>
      <td>Mall Galeria 6</td>
      <td>Cinemark</td>
      <td>83</td>
      <td>139</td>
      <td>269.748777</td>
      <td>420.470346</td>
    </tr>
    <tr>
      <th>111</th>
      <td>46795</td>
      <td>Vencedor</td>
      <td>Multiplaza Tegucigalpa 6</td>
      <td>Cinemark</td>
      <td>234</td>
      <td>294</td>
      <td>784.404807</td>
      <td>933.943445</td>
    </tr>
    <tr>
      <th>112</th>
      <td>48244</td>
      <td>Vencedor</td>
      <td>Diusa Galeria 9</td>
      <td>Diusa</td>
      <td>82</td>
      <td>154</td>
      <td>410.764470</td>
      <td>659.424606</td>
    </tr>
    <tr>
      <th>113</th>
      <td>49304</td>
      <td>Vencedor</td>
      <td>Terramall 12</td>
      <td>Cinepolis</td>
      <td>120</td>
      <td>120</td>
      <td>412.691029</td>
      <td>412.691029</td>
    </tr>
    <tr>
      <th>114</th>
      <td>49325</td>
      <td>Vencedor</td>
      <td>Bello Horizonte 6</td>
      <td>Diusa</td>
      <td>0</td>
      <td>144</td>
      <td>0.000000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>115</th>
      <td>52900</td>
      <td>Vencedor</td>
      <td>Diusa Galeria 9</td>
      <td>Diusa</td>
      <td>24</td>
      <td>48</td>
      <td>117.377899</td>
      <td>193.693640</td>
    </tr>
    <tr>
      <th>116</th>
      <td>54790</td>
      <td>Vencedor</td>
      <td>Arkadia 9</td>
      <td>Cinemark</td>
      <td>200</td>
      <td>200</td>
      <td>515.474872</td>
      <td>515.474872</td>
    </tr>
    <tr>
      <th>117</th>
      <td>55570</td>
      <td>Vencedor</td>
      <td>Sankris Mall 6</td>
      <td>Cinepolis</td>
      <td>0</td>
      <td>35</td>
      <td>0.000000</td>
      <td>127.303210</td>
    </tr>
    <tr>
      <th>118</th>
      <td>56287</td>
      <td>Vencedor</td>
      <td>Arkadia 9</td>
      <td>Cinemark</td>
      <td>143</td>
      <td>173</td>
      <td>707.445964</td>
      <td>814.497951</td>
    </tr>
    <tr>
      <th>119</th>
      <td>56361</td>
      <td>Vencedor</td>
      <td>Naranjo Mall 8</td>
      <td>Cinepolis</td>
      <td>73</td>
      <td>73</td>
      <td>216.554562</td>
      <td>216.554562</td>
    </tr>
    <tr>
      <th>120</th>
      <td>56449</td>
      <td>Vencedor</td>
      <td>Sankris Mall 6</td>
      <td>Cinepolis</td>
      <td>50</td>
      <td>50</td>
      <td>180.569617</td>
      <td>180.569617</td>
    </tr>
    <tr>
      <th>121</th>
      <td>57974</td>
      <td>Vencedor</td>
      <td>Metrocentro San Miguel 3</td>
      <td>Cinemark</td>
      <td>211</td>
      <td>211</td>
      <td>580.250000</td>
      <td>580.250000</td>
    </tr>
    <tr>
      <th>122</th>
      <td>58252</td>
      <td>Vencedor</td>
      <td>CityMall Alajuela 8</td>
      <td>Cinemark</td>
      <td>122</td>
      <td>183</td>
      <td>614.062605</td>
      <td>834.410875</td>
    </tr>
    <tr>
      <th>123</th>
      <td>58269</td>
      <td>Vencedor</td>
      <td>Desamparados 6</td>
      <td>Cinepolis</td>
      <td>7</td>
      <td>135</td>
      <td>17.815097</td>
      <td>461.632225</td>
    </tr>
    <tr>
      <th>124</th>
      <td>58317</td>
      <td>Vencedor</td>
      <td>Multiplaza del Este 8</td>
      <td>Cinemark</td>
      <td>156</td>
      <td>216</td>
      <td>750.935114</td>
      <td>959.667857</td>
    </tr>
    <tr>
      <th>125</th>
      <td>58330</td>
      <td>Vencedor</td>
      <td>Multiplaza Escazu 8</td>
      <td>Cinemark</td>
      <td>142</td>
      <td>206</td>
      <td>684.709277</td>
      <td>907.137939</td>
    </tr>
    <tr>
      <th>126</th>
      <td>58346</td>
      <td>Vencedor</td>
      <td>Oxigeno 8</td>
      <td>Cinemark</td>
      <td>178</td>
      <td>205</td>
      <td>979.604955</td>
      <td>1116.044049</td>
    </tr>
    <tr>
      <th>127</th>
      <td>58489</td>
      <td>Vencedor</td>
      <td>Arkadia 9</td>
      <td>Cinemark</td>
      <td>169</td>
      <td>222</td>
      <td>609.163892</td>
      <td>795.109611</td>
    </tr>
    <tr>
      <th>128</th>
      <td>58516</td>
      <td>Vencedor</td>
      <td>El Frutal 5</td>
      <td>Cinepolis</td>
      <td>35</td>
      <td>81</td>
      <td>88.489891</td>
      <td>195.041596</td>
    </tr>
    <tr>
      <th>129</th>
      <td>58527</td>
      <td>Vencedor</td>
      <td>Eskala Roosevelt 6 (C)</td>
      <td>Cinemark</td>
      <td>47</td>
      <td>62</td>
      <td>150.081974</td>
      <td>187.764894</td>
    </tr>
    <tr>
      <th>130</th>
      <td>58538</td>
      <td>Vencedor</td>
      <td>Galerias Miraflores 14</td>
      <td>Cinepolis</td>
      <td>322</td>
      <td>370</td>
      <td>1051.613349</td>
      <td>1217.678079</td>
    </tr>
    <tr>
      <th>131</th>
      <td>58556</td>
      <td>Vencedor</td>
      <td>Interplaza Xela 8</td>
      <td>Cinepolis</td>
      <td>82</td>
      <td>280</td>
      <td>277.554197</td>
      <td>1210.921141</td>
    </tr>
    <tr>
      <th>132</th>
      <td>58571</td>
      <td>Vencedor</td>
      <td>Metrocentro Villa Nueva 4</td>
      <td>Cinemark</td>
      <td>20</td>
      <td>29</td>
      <td>56.134557</td>
      <td>76.405369</td>
    </tr>
    <tr>
      <th>133</th>
      <td>58581</td>
      <td>Vencedor</td>
      <td>Naranjo Mall 8</td>
      <td>Cinepolis</td>
      <td>142</td>
      <td>184</td>
      <td>502.430270</td>
      <td>643.026544</td>
    </tr>
    <tr>
      <th>134</th>
      <td>58598</td>
      <td>Vencedor</td>
      <td>Oakland Mall 11</td>
      <td>Cinepolis</td>
      <td>126</td>
      <td>139</td>
      <td>452.065098</td>
      <td>501.182835</td>
    </tr>
    <tr>
      <th>135</th>
      <td>58609</td>
      <td>Vencedor</td>
      <td>Parque Las Americas 6</td>
      <td>Cinepolis</td>
      <td>110</td>
      <td>223</td>
      <td>400.998245</td>
      <td>745.342168</td>
    </tr>
    <tr>
      <th>136</th>
      <td>58626</td>
      <td>Vencedor</td>
      <td>Paseo Cayala 7</td>
      <td>Cinepolis</td>
      <td>89</td>
      <td>122</td>
      <td>315.496999</td>
      <td>426.856524</td>
    </tr>
    <tr>
      <th>137</th>
      <td>58634</td>
      <td>Vencedor</td>
      <td>Plaza Americas 5</td>
      <td>Cinepolis</td>
      <td>247</td>
      <td>323</td>
      <td>597.339252</td>
      <td>787.183204</td>
    </tr>
    <tr>
      <th>138</th>
      <td>58655</td>
      <td>Vencedor</td>
      <td>Portales 10</td>
      <td>Cinepolis</td>
      <td>77</td>
      <td>101</td>
      <td>271.706847</td>
      <td>343.824159</td>
    </tr>
    <tr>
      <th>139</th>
      <td>58682</td>
      <td>Vencedor</td>
      <td>RUS 8</td>
      <td>Cinepolis</td>
      <td>50</td>
      <td>66</td>
      <td>156.449088</td>
      <td>193.742185</td>
    </tr>
    <tr>
      <th>140</th>
      <td>58695</td>
      <td>Vencedor</td>
      <td>Sankris Mall 6</td>
      <td>Cinepolis</td>
      <td>126</td>
      <td>155</td>
      <td>437.589659</td>
      <td>537.124544</td>
    </tr>
    <tr>
      <th>141</th>
      <td>58707</td>
      <td>Vencedor</td>
      <td>Santa Clara 7</td>
      <td>Cinepolis</td>
      <td>33</td>
      <td>68</td>
      <td>89.529420</td>
      <td>182.437309</td>
    </tr>
    <tr>
      <th>142</th>
      <td>58724</td>
      <td>Vencedor</td>
      <td>Utz Ulew Mall 6</td>
      <td>Cinepolis</td>
      <td>68</td>
      <td>98</td>
      <td>217.001642</td>
      <td>293.503168</td>
    </tr>
    <tr>
      <th>143</th>
      <td>58747</td>
      <td>Vencedor</td>
      <td>Arkadia 9</td>
      <td>Cinemark</td>
      <td>124</td>
      <td>147</td>
      <td>614.429220</td>
      <td>682.886411</td>
    </tr>
    <tr>
      <th>144</th>
      <td>58783</td>
      <td>Vencedor</td>
      <td>Eskala Roosevelt 6 (C)</td>
      <td>Cinemark</td>
      <td>41</td>
      <td>59</td>
      <td>149.750105</td>
      <td>199.018538</td>
    </tr>
    <tr>
      <th>145</th>
      <td>58797</td>
      <td>Vencedor</td>
      <td>Galerias Miraflores 14</td>
      <td>Cinepolis</td>
      <td>333</td>
      <td>457</td>
      <td>1189.703001</td>
      <td>1565.958244</td>
    </tr>
    <tr>
      <th>146</th>
      <td>58852</td>
      <td>Vencedor</td>
      <td>Oakland Mall 11</td>
      <td>Cinepolis</td>
      <td>168</td>
      <td>192</td>
      <td>754.195985</td>
      <td>840.286089</td>
    </tr>
    <tr>
      <th>147</th>
      <td>58951</td>
      <td>Vencedor</td>
      <td>Sankris Mall 6</td>
      <td>Cinepolis</td>
      <td>243</td>
      <td>243</td>
      <td>882.164257</td>
      <td>882.164257</td>
    </tr>
    <tr>
      <th>148</th>
      <td>58987</td>
      <td>Vencedor</td>
      <td>Utz Ulew Mall 6</td>
      <td>Cinepolis</td>
      <td>0</td>
      <td>60</td>
      <td>0.000000</td>
      <td>287.831371</td>
    </tr>
    <tr>
      <th>149</th>
      <td>61897</td>
      <td>Vencedor</td>
      <td>Bello Horizonte 6</td>
      <td>Diusa</td>
      <td>178</td>
      <td>319</td>
      <td>479.269865</td>
      <td>818.592452</td>
    </tr>
    <tr>
      <th>150</th>
      <td>61907</td>
      <td>Vencedor</td>
      <td>Cinemas Masaya 4</td>
      <td>Diusa</td>
      <td>20</td>
      <td>38</td>
      <td>48.084984</td>
      <td>85.438044</td>
    </tr>
    <tr>
      <th>151</th>
      <td>61912</td>
      <td>Vencedor</td>
      <td>Diusa Galeria 9</td>
      <td>Diusa</td>
      <td>275</td>
      <td>537</td>
      <td>1231.160424</td>
      <td>1871.051427</td>
    </tr>
    <tr>
      <th>152</th>
      <td>61923</td>
      <td>Vencedor</td>
      <td>Diusa Inter 8</td>
      <td>Diusa</td>
      <td>402</td>
      <td>466</td>
      <td>937.903431</td>
      <td>1105.470509</td>
    </tr>
    <tr>
      <th>153</th>
      <td>61941</td>
      <td>Vencedor</td>
      <td>Metrocentro 6</td>
      <td>Cinemark</td>
      <td>224</td>
      <td>331</td>
      <td>643.468311</td>
      <td>952.011142</td>
    </tr>
    <tr>
      <th>154</th>
      <td>63527</td>
      <td>Vencedor</td>
      <td>Diusa Inter 8</td>
      <td>Diusa</td>
      <td>105</td>
      <td>105</td>
      <td>239.554342</td>
      <td>239.554342</td>
    </tr>
    <tr>
      <th>155</th>
      <td>64744</td>
      <td>Vencedor</td>
      <td>Metrocentro Villa Nueva 4</td>
      <td>Cinemark</td>
      <td>100</td>
      <td>100</td>
      <td>233.941081</td>
      <td>233.941081</td>
    </tr>
    <tr>
      <th>156</th>
      <td>65054</td>
      <td>Vencedor</td>
      <td>Albrook Mall 10</td>
      <td>Cinemark</td>
      <td>541</td>
      <td>779</td>
      <td>2160.270000</td>
      <td>3024.500000</td>
    </tr>
    <tr>
      <th>157</th>
      <td>65067</td>
      <td>Vencedor</td>
      <td>Altaplaza Mall 9</td>
      <td>Cinepolis</td>
      <td>213</td>
      <td>297</td>
      <td>1076.500000</td>
      <td>1397.320000</td>
    </tr>
    <tr>
      <th>158</th>
      <td>65077</td>
      <td>Vencedor</td>
      <td>Anclas Mall 6</td>
      <td>Cinepolis</td>
      <td>163</td>
      <td>247</td>
      <td>763.730000</td>
      <td>1080.460000</td>
    </tr>
    <tr>
      <th>159</th>
      <td>65098</td>
      <td>Vencedor</td>
      <td>Chorrera On D Go 5 (C)</td>
      <td>Cinemark</td>
      <td>66</td>
      <td>89</td>
      <td>263.470000</td>
      <td>343.690000</td>
    </tr>
    <tr>
      <th>160</th>
      <td>65109</td>
      <td>Vencedor</td>
      <td>David 6</td>
      <td>Cines Moderno</td>
      <td>87</td>
      <td>124</td>
      <td>351.750000</td>
      <td>489.250000</td>
    </tr>
    <tr>
      <th>161</th>
      <td>65119</td>
      <td>Vencedor</td>
      <td>El Dorado 9</td>
      <td>Cinepolis</td>
      <td>203</td>
      <td>279</td>
      <td>838.600000</td>
      <td>1098.830000</td>
    </tr>
    <tr>
      <th>162</th>
      <td>65129</td>
      <td>Vencedor</td>
      <td>Los Andes Mall 6</td>
      <td>Cinepolis</td>
      <td>147</td>
      <td>275</td>
      <td>581.650000</td>
      <td>981.650000</td>
    </tr>
    <tr>
      <th>163</th>
      <td>65137</td>
      <td>Vencedor</td>
      <td>Los Pueblos 7 (C)</td>
      <td>Cinemark</td>
      <td>100</td>
      <td>206</td>
      <td>391.100000</td>
      <td>691.900000</td>
    </tr>
    <tr>
      <th>164</th>
      <td>65152</td>
      <td>Vencedor</td>
      <td>Metromall 10</td>
      <td>Cinepolis</td>
      <td>225</td>
      <td>395</td>
      <td>1014.330000</td>
      <td>1639.160000</td>
    </tr>
    <tr>
      <th>165</th>
      <td>65160</td>
      <td>Vencedor</td>
      <td>Multicentro 7 (C)</td>
      <td>Cinemark</td>
      <td>405</td>
      <td>855</td>
      <td>1503.340000</td>
      <td>2999.880000</td>
    </tr>
    <tr>
      <th>166</th>
      <td>65182</td>
      <td>Vencedor</td>
      <td>Multiplaza Pacific 10</td>
      <td>Cinepolis</td>
      <td>168</td>
      <td>331</td>
      <td>865.510000</td>
      <td>1540.160000</td>
    </tr>
    <tr>
      <th>167</th>
      <td>65218</td>
      <td>Vencedor</td>
      <td>Town Center 5</td>
      <td>Cinepolis</td>
      <td>137</td>
      <td>192</td>
      <td>782.630000</td>
      <td>986.590000</td>
    </tr>
    <tr>
      <th>168</th>
      <td>65235</td>
      <td>Vencedor</td>
      <td>VIP Soho Mall 7</td>
      <td>Cinepolis</td>
      <td>50</td>
      <td>63</td>
      <td>663.000000</td>
      <td>788.000000</td>
    </tr>
    <tr>
      <th>169</th>
      <td>65249</td>
      <td>Vencedor</td>
      <td>Westland 8</td>
      <td>Cinepolis</td>
      <td>111</td>
      <td>182</td>
      <td>519.600000</td>
      <td>814.850000</td>
    </tr>
    <tr>
      <th>170</th>
      <td>68317</td>
      <td>Vencedor</td>
      <td>Bello Horizonte 6</td>
      <td>Diusa</td>
      <td>33</td>
      <td>102</td>
      <td>134.599356</td>
      <td>309.069529</td>
    </tr>
    <tr>
      <th>171</th>
      <td>68332</td>
      <td>Vencedor</td>
      <td>Diusa Galeria 9</td>
      <td>Diusa</td>
      <td>262</td>
      <td>297</td>
      <td>922.431231</td>
      <td>1042.326456</td>
    </tr>
    <tr>
      <th>172</th>
      <td>68342</td>
      <td>Vencedor</td>
      <td>Diusa Inter 8</td>
      <td>Diusa</td>
      <td>107</td>
      <td>175</td>
      <td>406.402543</td>
      <td>568.862358</td>
    </tr>
    <tr>
      <th>173</th>
      <td>68357</td>
      <td>Vencedor</td>
      <td>Metrocentro 6</td>
      <td>Cinemark</td>
      <td>154</td>
      <td>198</td>
      <td>610.489337</td>
      <td>746.368607</td>
    </tr>
    <tr>
      <th>174</th>
      <td>69241</td>
      <td>Vencedor</td>
      <td>Arkadia 9</td>
      <td>Cinemark</td>
      <td>300</td>
      <td>365</td>
      <td>1438.142062</td>
      <td>1710.796610</td>
    </tr>
    <tr>
      <th>175</th>
      <td>69260</td>
      <td>Vencedor</td>
      <td>El Frutal 5</td>
      <td>Cinepolis</td>
      <td>43</td>
      <td>145</td>
      <td>164.972928</td>
      <td>457.158604</td>
    </tr>
    <tr>
      <th>176</th>
      <td>69267</td>
      <td>Vencedor</td>
      <td>Eskala Roosevelt 6 (C)</td>
      <td>Cinemark</td>
      <td>128</td>
      <td>163</td>
      <td>473.955374</td>
      <td>571.611014</td>
    </tr>
    <tr>
      <th>177</th>
      <td>69278</td>
      <td>Vencedor</td>
      <td>Galerias Miraflores 14</td>
      <td>Cinepolis</td>
      <td>329</td>
      <td>504</td>
      <td>1639.312681</td>
      <td>2283.709700</td>
    </tr>
    <tr>
      <th>178</th>
      <td>69296</td>
      <td>Vencedor</td>
      <td>Interplaza Xela 8</td>
      <td>Cinepolis</td>
      <td>111</td>
      <td>152</td>
      <td>560.933998</td>
      <td>738.276640</td>
    </tr>
    <tr>
      <th>179</th>
      <td>69305</td>
      <td>Vencedor</td>
      <td>Metrocentro Villa Nueva 4</td>
      <td>Cinemark</td>
      <td>65</td>
      <td>95</td>
      <td>224.998595</td>
      <td>309.373068</td>
    </tr>
    <tr>
      <th>180</th>
      <td>69314</td>
      <td>Vencedor</td>
      <td>Naranjo Mall 8</td>
      <td>Cinepolis</td>
      <td>150</td>
      <td>219</td>
      <td>773.562878</td>
      <td>1086.842172</td>
    </tr>
    <tr>
      <th>181</th>
      <td>69326</td>
      <td>Vencedor</td>
      <td>Oakland Mall 11</td>
      <td>Cinepolis</td>
      <td>220</td>
      <td>332</td>
      <td>1076.165156</td>
      <td>1542.828909</td>
    </tr>
    <tr>
      <th>182</th>
      <td>69337</td>
      <td>Vencedor</td>
      <td>Parque Las Americas 6</td>
      <td>Cinepolis</td>
      <td>84</td>
      <td>178</td>
      <td>435.804571</td>
      <td>777.156606</td>
    </tr>
    <tr>
      <th>183</th>
      <td>69349</td>
      <td>Vencedor</td>
      <td>Paseo Cayala 7</td>
      <td>Cinepolis</td>
      <td>195</td>
      <td>267</td>
      <td>1012.702010</td>
      <td>1318.038646</td>
    </tr>
    <tr>
      <th>184</th>
      <td>69362</td>
      <td>Vencedor</td>
      <td>Plaza Americas 5</td>
      <td>Cinepolis</td>
      <td>134</td>
      <td>332</td>
      <td>533.460211</td>
      <td>1065.618347</td>
    </tr>
    <tr>
      <th>185</th>
      <td>69375</td>
      <td>Vencedor</td>
      <td>Portales 10</td>
      <td>Cinepolis</td>
      <td>166</td>
      <td>226</td>
      <td>793.354422</td>
      <td>1070.826647</td>
    </tr>
    <tr>
      <th>186</th>
      <td>69398</td>
      <td>Vencedor</td>
      <td>RUS 8</td>
      <td>Cinepolis</td>
      <td>81</td>
      <td>238</td>
      <td>305.727258</td>
      <td>773.432671</td>
    </tr>
    <tr>
      <th>187</th>
      <td>69408</td>
      <td>Vencedor</td>
      <td>Sankris Mall 6</td>
      <td>Cinepolis</td>
      <td>182</td>
      <td>288</td>
      <td>904.499561</td>
      <td>1383.793443</td>
    </tr>
    <tr>
      <th>188</th>
      <td>69416</td>
      <td>Vencedor</td>
      <td>Santa Clara 7</td>
      <td>Cinepolis</td>
      <td>140</td>
      <td>214</td>
      <td>516.272818</td>
      <td>744.396394</td>
    </tr>
    <tr>
      <th>189</th>
      <td>69432</td>
      <td>Vencedor</td>
      <td>Utz Ulew Mall 6</td>
      <td>Cinepolis</td>
      <td>61</td>
      <td>129</td>
      <td>285.284677</td>
      <td>609.761818</td>
    </tr>
    <tr>
      <th>190</th>
      <td>69673</td>
      <td>Vencedor</td>
      <td>Metrocentro Villa Nueva 4</td>
      <td>Cinemark</td>
      <td>152</td>
      <td>152</td>
      <td>352.541156</td>
      <td>352.541156</td>
    </tr>
  </tbody>
</table>