<table border="1" class="dataframe display cell-border" id="tblTodos">
  <thead>
    <tr style="text-align: left;">
      <th></th>
      <th>Pelicula</th>
      <th>Asistencia_Semanal</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>Avengers Endgame</td>
      <td>3246813</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Toy Story 4</td>
      <td>2578769</td>
    </tr>
    <tr>
      <th>3</th>
      <td>El Rey Leon</td>
      <td>2127725</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Guasón</td>
      <td>1717690</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Frozen 2</td>
      <td>1591013</td>
    </tr>
  </tbody>
</table>