<table border="1" class="dataframe display cell-border" id="tblTodos">
  <thead>
    <tr style="text-align: left;">
      <th>Cadena</th>
      <th>Asistencia_Semanal</th>
      <th>Pais</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>CCM Cinemas</td>
      <td>1417582</td>
      <td>Costa Rica</td>
    </tr>
    <tr>
      <td>Cinemark</td>
      <td>2793951</td>
      <td>Costa Rica</td>
    </tr>
    <tr>
      <td>Cinepolis</td>
      <td>4176277</td>
      <td>Costa Rica</td>
    </tr>
    <tr>
      <td>Citicinemas CR</td>
      <td>141524</td>
      <td>Costa Rica</td>
    </tr>
    <tr>
      <td>Independiente - Costa Rica</td>
      <td>269863</td>
      <td>Costa Rica</td>
    </tr>
    <tr>
      <td>Liberia</td>
      <td>313003</td>
      <td>Costa Rica</td>
    </tr>
    <tr>
      <td>Multicinemas</td>
      <td>338909</td>
      <td>Costa Rica</td>
    </tr>
    <tr>
      <td>Nova Cinemas</td>
      <td>1039574</td>
      <td>Costa Rica</td>
    </tr>
    <tr>
      <td>Studio Cinemas</td>
      <td>158259</td>
      <td>Costa Rica</td>
    </tr>
    <tr>
      <td>Cinemark</td>
      <td>2826224</td>
      <td>El Salvador</td>
    </tr>
    <tr>
      <td>Cinepolis</td>
      <td>2210013</td>
      <td>El Salvador</td>
    </tr>
    <tr>
      <td>Multicinemas - El Salvador</td>
      <td>755074</td>
      <td>El Salvador</td>
    </tr>
    <tr>
      <td>Alba Cinema - Guatemala</td>
      <td>1934541</td>
      <td>Guatemala</td>
    </tr>
    <tr>
      <td>Cineflick</td>
      <td>74499</td>
      <td>Guatemala</td>
    </tr>
    <tr>
      <td>Cinelandia - Guatemala</td>
      <td>104742</td>
      <td>Guatemala</td>
    </tr>
    <tr>
      <td>Cinemark</td>
      <td>660472</td>
      <td>Guatemala</td>
    </tr>
    <tr>
      <td>Cinepolis</td>
      <td>6186539</td>
      <td>Guatemala</td>
    </tr>
    <tr>
      <td>Independiente - Guatemala</td>
      <td>49784</td>
      <td>Guatemala</td>
    </tr>
    <tr>
      <td>Pop Cinema</td>
      <td>12310</td>
      <td>Guatemala</td>
    </tr>
    <tr>
      <td>Cinemark</td>
      <td>2394148</td>
      <td>Honduras</td>
    </tr>
    <tr>
      <td>Cinepolis</td>
      <td>1559323</td>
      <td>Honduras</td>
    </tr>
    <tr>
      <td>Herman Younger</td>
      <td>150363</td>
      <td>Honduras</td>
    </tr>
    <tr>
      <td>Independiente - Honduras</td>
      <td>62681</td>
      <td>Honduras</td>
    </tr>
    <tr>
      <td>Metrocinemas - Honduras</td>
      <td>1469215</td>
      <td>Honduras</td>
    </tr>
    <tr>
      <td>Unicines</td>
      <td>521861</td>
      <td>Honduras</td>
    </tr>
    <tr>
      <td>Cinemark</td>
      <td>558808</td>
      <td>Nicaragua</td>
    </tr>
    <tr>
      <td>Diusa</td>
      <td>1463077</td>
      <td>Nicaragua</td>
    </tr>
    <tr>
      <td>Siglo Nuevo</td>
      <td>359625</td>
      <td>Nicaragua</td>
    </tr>
    <tr>
      <td>Caribbean Cinemas</td>
      <td>362114</td>
      <td>Panama</td>
    </tr>
    <tr>
      <td>CineStar Colon</td>
      <td>112801</td>
      <td>Panama</td>
    </tr>
    <tr>
      <td>Cinemark</td>
      <td>1522648</td>
      <td>Panama</td>
    </tr>
    <tr>
      <td>Cinepolis</td>
      <td>6195772</td>
      <td>Panama</td>
    </tr>
    <tr>
      <td>Cines Moderno</td>
      <td>586937</td>
      <td>Panama</td>
    </tr>
    <tr>
      <td>Independiente - Panama</td>
      <td>9773</td>
      <td>Panama</td>
    </tr>
    <tr>
      <td>Multicine Nacional</td>
      <td>251673</td>
      <td>Panama</td>
    </tr>
    <tr>
      <td>Nova Cinemas</td>
      <td>145347</td>
      <td>Panama</td>
    </tr>
    <tr>
      <td>Royal Films Ltda</td>
      <td>252164</td>
      <td>Panama</td>
    </tr>
  </tbody>
</table>